<div class="timepicker-wrapper">
  <!-- Hour -->
  <div class="select-number">
    <button 
      (click)="prevHour()"
      [disabled]="disabled"
      class="ion-activatable ripple-parent"
    >
      <ion-icon name="caret-up-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <div class="preview-number">
      {{ hourFormatted() }}
    </div>
    <button
      (click)="nextHour()"
      [disabled]="disabled"
      class="ion-activatable ripple-parent"
    >
      <ion-icon name="caret-down-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>

  <div class="sparator">
    <span>:</span>
  </div>

  <!-- Minute -->
  <div class="select-number">
    <button 
      (click)="prevMinute()"
      [disabled]="disabled"
      class="ion-activatable ripple-parent"
    >
      <ion-icon name="caret-up-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <div class="preview-number">
      {{ minuteFormatted() }}
    </div>
    <button
      (click)="nextMinute()"
      [disabled]="disabled"
      class="ion-activatable ripple-parent"
    >
      <ion-icon name="caret-down-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
  <div>
    <div class="am-pm-options">
      <input
        id="timepicker-am"
        type="radio"
        value="AM"
        name="time_part"
        [(ngModel)]="timePart"
        [disabled]="disabled || amDisabled"
        (ngModelChange)="partChanged()"
      />
      <label for="timepicker-am" class="am-label ion-activatable ripple-parent">
        <span>AM</span>
        <ion-ripple-effect></ion-ripple-effect>
      </label>
      <input
        id="timepicker-pm"
        type="radio"
        value="PM"
        name="time_part"
        [(ngModel)]="timePart"
        [disabled]="disabled || pmDisabled"
        (ngModelChange)="partChanged()"
      />
      <label for="timepicker-pm" class="pm-label ion-activatable ripple-parent">
        <span>PM</span>
        <ion-ripple-effect></ion-ripple-effect>
      </label>
    </div>
  </div>
</div>