.timepicker-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }

  .sparator {
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .select-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 119px;
    width: 107px;
    border-radius: 14px;
    position:relative;
    overflow: hidden;
    box-shadow: 0px 16px 32px rgba(6, 9, 39, 0.08);

    button {
      width: 100%;
      padding: 4px 2px;
      background-color: transparent;
      color: #C4C4C4;
      transition: color 0.3s ease;

      &:hover {
        color: inherit;
      }
    }

    .preview-number {
      width: 100%;
      text-align: center;
      padding: 8px 25px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .am-pm-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    box-shadow: 0px 16px 32px rgba(6, 9, 39, 0.08);
    border-radius: 14px;
    position: relative;
    overflow: hidden;

    input, input[type="checkbox"], input[type="radio"] {
      position: absolute;
      height: 0px;
      width: 0px;
      display: none;
    }

    input:checked {
      & + label {
        color: inherit;
      }
    }

    label {
      font-weight: 600;
      display: flex;
      flex-direction: column;
      color: #C4C4C4;
      flex: 1;
      &.am-label {
        justify-content: end;
        padding: 8px 10px;
      }
      &.pm-label {
        justify-content: start;
        padding: 8px 10px;
      }
    }
  }

  .hidden-input {
    height: 0px;
    width: 0px;
    // overflow: hidden;
  }
}