<ion-header>
  <ion-toolbar>
    <ion-title>{{ id ? 'Edit Note' : 'Add Note' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input
        placeholder="Type title..."
        [value]="title"
        (input)="title = $event.target.value"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Note</ion-label>
      <ion-textarea
        placeholder="Type your note here..." 
        [value]="content"
        (input)="content = $event.target.value"
      ></ion-textarea>
    </ion-item>
    <ion-button
      class="ion-margin-vertical"
      expand="block"
      color="tertiary"
      (click)="handleSubmit()"
    >
      Submit
    </ion-button>
  </div>
</ion-content>
