<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button
      class="ion-margin-vertical"
      expand="block"
      color="tertiary"
      href="/push-notification"
    >
      Push Notification
    </ion-button>

    <ion-button
      class="ion-margin-vertical"
      expand="block"
      color="tertiary"
      href="/firebase-notes"
    >
      Firebase Notes
    </ion-button>

    <ion-button
      class="ion-margin-vertical"
      expand="block"
      color="tertiary"
      href="/firestore-user"
    >
      Firestore Users
    </ion-button>

    <ion-button
      class="ion-margin-vertical"
      expand="block"
      color="tertiary"
      href="/custom-datetimepicker"
    >
      Custom Date Time Picker
    </ion-button>
  </div>
</ion-content>
