<ion-header>
  <ion-toolbar>
    <ion-title>custom-datetimepicker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <app-date-picker
      value="2022-07-22"
      min="2022-07-10"
      [disabled]="false"
      [daysDisabled]="['monday','sunday']"
    >  
    </app-date-picker>
    <app-time-picker
      min="2022-07-11T08:30"
      max="2022-07-11T16:00"
      [minuteInterval]="15"
      (onChange)="handleTimeChange($event)"
    ></app-time-picker>
  </div>
</ion-content>
