.datepicker-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;

  ion-slide {
    width: 60px;
  }

  .date-option {
    background-color: #F1F7F7;
    color: #3B4F5B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 18px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
      background-color: #21485C;
      color: #FFFFFF;
    }

    &.inactive {
      color: #C1C7C7;
    }

    .date {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }

    .month {
      font-size: 12px;
    }
  }
}